In [1]:
import pandas as pd

#  Merge CSV Files

In [2]:
df1 = pd.read_csv("Resources/JC-201901-citibike-tripdata.csv")
df2 = pd.read_csv("Resources/JC-201902-citibike-tripdata.csv")
df3 = pd.read_csv("Resources/JC-201903-citibike-tripdata.csv")
df4 = pd.read_csv("Resources/JC-201904-citibike-tripdata.csv")
df5 = pd.read_csv("Resources/JC-201905-citibike-tripdata.csv")
df6 = pd.read_csv("Resources/JC-201906-citibike-tripdata.csv")
df7 = pd.read_csv("Resources/JC-201907-citibike-tripdata.csv")
df8 = pd.read_csv("Resources/JC-201908-citibike-tripdata.csv")
df9 = pd.read_csv("Resources/JC-201909-citibike-tripdata.csv")
df10 = pd.read_csv("Resources/JC-201910-citibike-tripdata.csv")
df11 = pd.read_csv("Resources/JC-201911-citibike-tripdata.csv")
df12 = pd.read_csv("Resources/JC-201912-citibike-tripdata.csv")

In [3]:
# Combine csv files into dataframe
frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]
df = pd.concat(frames).drop_duplicates()

In [4]:
# Export dataframe to csv
df.to_csv("Resources/2019-citibike-combined.csv", index=False)

#  Clean data and columns

In [5]:
# Read in combined csv
df = pd.read_csv("Resources/2019-citibike-combined.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [6]:
# Drop rows where the trip duration is less than 120 seconds and where the start and end stations are the same
# Filter out records where users rented a bike but found that it wasn't working properly
df = df.loc[((df["tripduration"]>120) & (df["start station id"] != df["end station id"])),:]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [7]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Filter out trips over 24 hours long
df = df.loc[df["tripduration"] < 1440, :]

# Rename trip duration column
df.rename(columns={"tripduration":"tripduration (min)"})

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [8]:
# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [9]:
# Add ride id column to uniquely identify each ride
df["rideid"] = df["start station id"].map(str) + "_" + df["end station id"].map(str)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638

In [10]:
from math import sin, cos, sqrt, atan2, radians

# Convert degrees to radians
lat1 = [radians(lat) for lat in df["start station latitude"]]
lon1 = [radians(lon) for lon in df["start station longitude"]]
lat2 = [radians(lat) for lat in df["end station latitude"]]
lon2 = [radians(lon) for lon in df["end station longitude"]]

# Convert lists into series
lat1 = pd.Series(lat1)
lon1 = pd.Series(lon1)
lat2 = pd.Series(lat2)
lon2 = pd.Series(lon2)

# Calculate difference between each set of latitude and longitude
dlat = lat2 - lat1
dlon = lon2 - lon1

In [11]:
# Approximate radius of Earth in km
R = 6373.0

# Empty list to store trip distances
distance = []

for i in range(0, len(lat1)):
    
    a = sin(dlat[i] / 2)**2 + cos(lat1[i]) * cos(lat2[i]) * sin(dlon[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Get distance and convert km to miles
    miles = (R * c) * .6214
    
    # Append miles travel to 'distance' list
    distance.append(miles)

In [12]:
# Add trip distance as new column to data frame
df["tripdistance (mi)"] = distance
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi)
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,0.287680
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,0.566222
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,1.215543
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,0.566222
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,0.566222

In [13]:
# Calculate age of riders
ages = []

for i in df["birth year"]:
    age = 2021 - i
    ages.append(age)

In [14]:
# Append new Age column
df["Age"] = ages
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi),Age
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,0.287680,28
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,0.566222,49
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,1.215543,36
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,0.566222,52
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,0.566222,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,4.716667,12/31/19 11:12 PM,12/31/19 11:17 PM,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,Male,3195_3679,0.724896,31
404943,4.450000,12/31/19 11:19 PM,12/31/19 11:23 PM,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,Male,3186_3205,0.401266,32
404944,6.316667,12/31/19 11:19 PM,12/31/19 11:25 PM,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,Male,3209_3185,0.570696,37
404945,3.133333,12/31/19 11:24 PM,12/31/19 11:27 PM,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,Male,3639_3186,0.465939,34
404946,5.433333,12/31/19 11:45 PM,12/31/19 11:50 PM,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,Male,3195_3280,0.890329,33

In [15]:
# Delete all rows where user age is over 90
df = df.loc[df["Age"] < 90]

In [16]:
# Divide users in age bins
bins = [0, 17, 25, 35, 50, 65, 90]
labels = ["0-17", "18-25", "26-35", "36-50", "51-65", "65-90"]

df["Age Group"] = pd.cut(df["Age"], bins, labels=labels)

C:\Users\cindy\Anaconda3\envs\PyData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
# Delete column
del df["birth year"]

In [18]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,rideid,tripdistance (mi),Age,Age Group
0,3.350000,1/1/19 3:09 AM,1/1/19 3:12 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,Male,3183_3214,0.287680,28,26-35
1,8.416667,1/1/19 5:18 AM,1/1/19 5:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,Female,3183_3638,0.566222,49,36-50
2,12.600000,1/1/19 10:36 AM,1/1/19 10:49 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,Male,3183_3192,1.215543,36,36-50
3,26.250000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,Unknown,3183_3638,0.566222,52,51-65
4,26.100000,1/1/19 12:43 PM,1/1/19 1:09 PM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,Unknown,3183_3638,0.566222,52,51-65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,4.716667,12/31/19 11:12 PM,12/31/19 11:17 PM,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,Male,3195_3679,0.724896,31,26-35
404943,4.450000,12/31/19 11:19 PM,12/31/19 11:23 PM,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,Male,3186_3205,0.401266,32,26-35
404944,6.316667,12/31/19 11:19 PM,12/31/19 11:25 PM,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,Male,3209_3185,0.570696,37,36-50
404945,3.133333,12/31/19 11:24 PM,12/31/19 11:27 PM,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,Male,3639_3186,0.465939,34,26-35
404946,5.433333,12/31/19 11:45 PM,12/31/19 11:50 PM,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,Male,3195_3280,0.890329,33,26-35

In [19]:
df.to_csv("Resources/2019-citibike-combined-clean.csv", index=False)